<div class="user-management">
  <button
    mat-raised-button
    color="primary"
    (click)="createUser()"
  >
    Adicionar usuário
    <mat-icon>add</mat-icon>
  </button>

  <table mat-table [dataSource]="users" class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let user" [class.inactive-row]="!user.active">
        {{ user.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Departamento</th>
      <td mat-cell *matCellDef="let user" [class.inactive-row]="!user.active">
        {{ user.department }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let user" [class.inactive-row]="!user.active">
        {{ user.phone }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user" [class.inactive-row]="!user.active">
        {{ user.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="permission">
      <th mat-header-cell *matHeaderCellDef>Permissão</th>
      <td mat-cell *matCellDef="let user" [class.inactive-row]="!user.active">
        {{ user.permission }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          [color]="user.active ? 'primary' : 'warn'"
          (click)="toggleActive(user)"
          [matTooltip]="user.active ? 'Desativar usuário' : 'Ativar usuário'"
        >
          <mat-icon>{{ user.active ? "toggle_on" : "toggle_off" }}</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteUser(user.id, user.name)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.inactive-user-row]="!row.active"
    ></tr>
  </table>
</div>
